/* Container */
.section {
	padding-top: 40px;
	padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.section_items{
    display :flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-bottom: 5%;
}
.img_container{
    width: 65% ; 
    height: 200px;
    transform: translateY(15%);
    z-index: -1;
}
.img_container img{
    object-fit: cover;
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff4ec60;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    border: 1px solid #945b31;
    width: 90%;
}

.description h2 {
    font-family:poppins ;
    font-weight: bold;
    margin: 0;
    font-size: 1.2em; 
    text-align: center;
    padding-top: 5px;
}
.description p {
    padding: 15px;
    text-align: justify;
    flex-grow: 1; 
    margin:0
}



/* media query */
@media (max-width: 1770px){

}
@media (max-width: 1670px){

}
@media (max-width: 1370px){

}
@media (max-width: 1150px){

}
@media (max-width: 950px){
    .section_items{
        width: 50%;
    }
    .img_container{
        width: 50% ; 
    }
    .description p {
        padding: small;
    }
}
@media (max-width: 920px){

}
@media (max-width: 570px){
    .section_items{
        width: 100%;
    }

}
@media (max-width: 440px){
	
}