/*header*/

header {
	background-color: #fff4ec;
	color: white;
	display: flex;
    gap: 15%;
	align-items: center;
    border-bottom: #945a31be 2px solid;
}
#logo_container {
	width: 180px;
	padding-left: 30px;
}
header li {
	list-style: none;
	color:#945a31be;
	font-family: poppins;
	font-size: medium;
	font-weight: bold;
	text-align: center;
    padding: 5px;
    border-radius: 5px;
	cursor: pointer;
}
header li:hover{
    color: #8b5630;
	transition: ease-in 200ms;
}
header ul {
    display: flex;
    gap: 5%;
}
.header-links{
    width: 60%;
}