footer {
	background-color: #fff4ec;
	color: #945b31;
	font-family: jacquesfrancois;
	font-size: small;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 30px;
	padding-bottom: 5px;
}
.courriel_contact_container {
	width: 60px;
}
.resaux_container {
	width: 20px;
	height: 20px;
}

.footer_partie_un p {
	color: white;
	background-color: #945b31;
	border-radius: 50px;
	padding: 3px 10px;
	font-family: poppins;
	font-weight: bold;
}
.footer_partie_un{
	cursor: pointer;
}
.footer_partie_deux {
	font-size: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mentions_legales {
	margin-top: 20px;
	display: flex;
	gap: 10px;
	text-decoration: underline;
	padding-left: 40px;
}
.mentions_legales p{
    cursor: pointer;
}
.reseaux_sociaux {
	display: flex;
	gap: 15px;
}
.reseaux_sociaux img:hover{
    transform: scale(1.5);
    transition: ease-in 200ms;
}
.icone_twitter img {
	border-radius: 5px;
}
.footer_partie_un:hover p{
	background-color: #98d3c5;
    transition: ease-in 200ms;
}


/* media query */
@media (max-width: 1770px){

}
@media (max-width: 1670px){

}
@media (max-width: 1370px){

}
@media (max-width: 1150px){

}
@media (max-width: 950px){

}
@media (max-width: 920px){
	footer{
		flex-direction: column;
		gap: 5px;
		padding: 0px 5px;
	}
	.courriel_contact_container {
		width: 50px;
	}
	.resaux_container {
		width: 20px;
		height: 20px;
		margin: 10% 0 5% 0;
	}
	.mentions_legales p{
		font-size: x-small;
	}
	.footer_partie_un p{
		font-size: x-small;
	}
	.horaires{
		width: 70%;
	}
}
@media (max-width: 570px){

}
@media (max-width: 440px){
	
}